h1= t(:profile_page)

= render 'edit'

ul#user_phones
  = render partial: 'phone_numbers/phone_number', collection: @user.phones

#user_phone_form
button data-url=new_phone_number_path data-remote=true Add phone

= button_to t(:remove_acc), '/profile', method: "delete", remote: true, data: {confirm: 'Are you sure?'}
