h1 #{t(:profile_page)}
br
' Primary number:
= @user.phones.first.number
br
- unless @user.phones.second.nil? 
	' Secondary number:
	=  @user.phones.second.number
= render 'edit'
br

= button_to t(:add_phone), '/profile/add_number'
= button_to t(:remove_acc), '/profile', method: "delete", remote: true, data: {confirm: 'Are you sure?'}